<wicket:extend>
    <div class="container">
        <div id="bd">
            <h2>User Account Page</h2>
            <wicket:panel wicket:id="user-profile"></wicket:panel>
        </div>
    </div>
</wicket:extend>
